---
---
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f0f0f0">
    <title>Blog</title>
    <link rel="icon" type="image/x-icon" href="{{ 'images/favicon.ico' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'images/AJRA.png' | relative_url }}">
    <meta name="description" content="{{ page.title }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description | default: page.title }}">
    <meta property="og:image" content="{{ site.url | append: 'images/AJRA.png' | absolute_url }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <link href="{{ 'css/posts.css' | relative_url }}" rel="stylesheet" type="text/css" />
    <script src="https://beamanalytics.b-cdn.net/beam.min.js" data-token="d475f634-84bb-448f-9a73-b0576d734398" async></script>
</head>

<body>
    <header>
        <a href="{{ site.url | relative_url }}">
            <img src="{{ 'images/AJRA.png' | relative_url }}" alt="AJRA" class="avatar">
        </a>
    </header>
    <div class="post-cabecera">
            <img src="{{ 'images/blog.webp' | relative_url }}" class="post-image">
    </div>
    <div class="content-blog">
        {% assign previous_month = nil %}
        {% for post in site.posts %}
          {% capture current_month %}{{ post.date | date: "%B" }}{% endcapture %}
          {% capture current_year %}{{ post.date | date: "%Y" }}{% endcapture %}
          {% case current_month %}
            {% when 'January' %}{% assign current_month = 'Enero' %}
            {% when 'February' %}{% assign current_month = 'Febrero' %}
            {% when 'March' %}{% assign current_month = 'Marzo' %}
            {% when 'April' %}{% assign current_month = 'Abril' %}
            {% when 'May' %}{% assign current_month = 'Mayo' %}
            {% when 'June' %}{% assign current_month = 'Junio' %}
            {% when 'July' %}{% assign current_month = 'Julio' %}
            {% when 'August' %}{% assign current_month = 'Agosto' %}
            {% when 'September' %}{% assign current_month = 'Septiembre' %}
            {% when 'October' %}{% assign current_month = 'Octubre' %}
            {% when 'November' %}{% assign current_month = 'Noviembre' %}
            {% when 'December' %}{% assign current_month = 'Diciembre' %}
          {% endcase %}
          {% capture month_and_year %}{{ current_month }} {{ current_year }}{% endcapture %}
          {% if month_and_year != previous_month %}
            {% if previous_month %}
              </div>
            {% endif %}
            <h2>{{ month_and_year }}</h2>
            <div class="grid-container">
          {% assign previous_month = month_and_year %}
          {% endif %}
          <div class="grid-item">
            <a href="{{ post.url }}">
              <img src="{{ post.image | default: 'images/placeholder.webp' | relative_url }}" alt="{{ post.title }}">
              <h3>{{ post.title }}</h3>
            </a>
          </div>
        {% endfor %}
        </div> 
      </div>


    <footer>
        2025 &copy; Desarrollado con 🧠 & 💛 por 
        <a href="https://ajra.es" style="text-decoration: none; color: black"> &lt;/AJRA&gt; </a>
    </footer>
</body>

</html>
<style>
    h2:not(:first-child) {margin-top: 2.5rem;}
    h3 {margin: 0.5rem !important}
</style>